<!DOCTYPE html>
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<html lang="en" class="js">


<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Forget Password | United Forex Trading</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="{% static 'css/appsf488f488.css' %}'">
	<!-- System Build v20210628110 @iO -->
</head>
<body class="nk-body npc-cryptlite pg-auth is-dark">
<div class="nk-app-root">
    <div class="nk-wrap">
        <div class="nk-block nk-block-middle nk-auth-body wide-xs">
        <center><img src="../../images/maillertag1678691629.png" width="150px"></center>


            <div class="card card-bordered">
    <div class="card-inner card-inner-lg">
        <div class="nk-block-head">
            <div class="nk-block-head-content">
                <h4 class="nk-block-title">Reset password</h4>
                <div class="nk-block-des">
                    <p>If you forgot your password, well, then we’ll email you instructions to reset your password.</p>
                </div>
            </div>
        </div>

        
                <form action="" method="POST" id="forgotPassword" class="form-validate is-alter">
                    {% csrf_token %}              <div class="form-group">
                <div class="form-label-group">
                    <label class="form-label" for="user-email">Email<span class="text-danger"> &nbsp;*</span></label>
                </div>
                <div class="form-control-wrap">

                    {{ form|crispy }}                </div>
            </div>
                        <div class="form-group">
                <button name='submit' class="btn btn-lg btn-primary btn-block">Send Reset Link
                </button>
            </div>
        </form>
        <div class="form-note-s2 text-center pt-4">
            <a href="../login.html"><strong>Return to login</strong></a>
        </div>
        
                  
     
          
          <div id="google_translate_element" align="left"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="../../../../translate.google.com/translate_a/elementa0d8.js?cb=googleTranslateElementInit"></script>
          

        
    </div>
</div>

            

        </div>

        <div class="nk-footer nk-auth-footer-full">
    <div class="container wide-lg">
                <div class="row g-3">
            <div class="col-lg-6 order-lg-last">
                <ul class="nav nav-sm justify-content-center justify-content-lg-end">
	
						<li class="nav-item">
			<a class="nav-link" href="../index.html" target="_blank">Return to Homepage</a>
		</li>
								<li class="nav-item">
			<a class="nav-link" href="../page/privacy-policy.html">Privacy Policy</a>
		</li>
				
		

		</ul>
		
	

            </div>
            <div class="col-lg-6">
                <div class="nk-block-content text-center text-lg-left">
                    <p class="text-soft">United Forex Trading &copy; All Rights Reserved.</p>
                </div>
            </div>
        </div>
            </div>
</div>
    </div>
</div>
<script src="../assets/js/bundle.js"></script>
<script src="../assets/js/app.js"></script>
</body>
{% endblock %}
</html>