<!DOCTYPE html>
{% load static %}
{%  block content %}
<html lang="en" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Welcome | United Forex Trading</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="{% static 'css/apps8a548a54.css' %}">
	<!-- System Build v20210628110 @iO -->
</head>
<body class="nk-body npc-cryptlite bg-white">
<div class="nk-app-root">
    <div class="nk-main">
        <header class="header bg-gray-900">
            <div class="header-main header-dark bg-gray-900 on-dark is-sticky is-transparent">
                <div class="container header-container wide-lg">
                    <div class="header-wrap">
                    <img src="{% static 'images/maillertag1678691629.png' %}" width="150px">

                        <div class="header-toggle">
                            <button class="menu-toggler" data-target="main-hmenu">
                                <em class="menu-on icon ni ni-menu"></em>
                                <em class="menu-off icon ni ni-cross"></em>
                            </button>
                        </div>

                        <nav class="header-menu"  data-content="main-hmenu">
                            <ul class="menu-list ml-lg-auto">
                                                                <li class="menu-item"><a href="{% url 'index' %}" class="menu-link nav-link">Home</a></li>
                                                                                                <li class="menu-item"><a href="{% url 'investments' %}" class="menu-link nav-link">Investment</a></li>
                                                                <li class="menu-item">
		    <a href="{% url 'index' %}" class="menu-link nav-link" target="_blank">
		        <span class="menu-text">Return to Homepage</span>
		    </a>
		</li>
								<li class="menu-item">
		    <a href="{% url 'contact-us' %}" class="menu-link nav-link">
		        <span class="menu-text">Contact</span>
		    </a>
		</li>
					
		
	


                                                                <li class="menu-item"><a href="{% url 'register' %}" class="menu-link nav-link">Register</a></li>
                                                            </ul>

                                                        <ul class="menu-btns">
                                <li>
                                    <a href="{% url 'login' %}" class="btn btn-round btn-primary"><em class="icon ni ni-user-alt"></em> <span>Login</span></a>
                                </li>
                            </ul>
                                                    </nav>
                    </div>
                </div>
            </div>
        </header>

        <div class="nk-page-content bg-lighter">
                        <section class="section section-lg section-page">
                <div class="container wide-lg">
                    <div class="nk-block-head nk-block-head-lg text-center">
    <h2 class="nk-block-title fw-normal">Investment Plans</h2>
        <div class="nk-block-des w-max-550px m-auto">
                <p class="lead">Here is our several investment plans. You can invest daily, weekly or monthly and get higher returns in your investment.</p>
                        <p><strong>Choose your favourite plan and start earning now.</strong></p>
            </div>
    </div>
<div class="nk-block">
    <div class="row justify-content-center g-gs">
                <div class="col-md-6 col-lg-4">
            <div class="nk-ivp-card card card-bordered card-full">
                <div class="card-inner-group">
                    <div class="card-inner">
                        <div class="nk-ivp-title card-title">
                            <h4 class="title">Beginner Plan</h4>
                                                    </div>
                        <div class="nk-ivp-summary card-text">
                            <div class="row">
                                <div class="col-6">
                                    <span class="lead-text"><span class="small text-dark">25.00%</span></span>
                                    <span class="sub-text">Daily Interest</span>
                                </div>
                                <div class="col-6">
                                    <span class="lead-text"><span class="small text-dark">30</span></span>
                                    <span class="sub-text">Term Days</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-inner">
                        <div class="card-text">
                            <ul class="nk-ivp-data">
                                                                <li><span class="label">Min Deposit</span> - <span class="data fw-medium text-dark">500.00 USD</span></li>
                                <li><span class="label">Max Deposit</span> - <span class="data">5,000.00 USD</span></li>
                                
                                <li><span class="label">Capital Return <em class="icon ni ni-info text-soft nk-tooltip small" title="The invested amount will be return at the end of term."></em></span> - <span class="data"> Each Term </span></li>
                                                                <li><span class="label">Total Return</span> - <span class="data">750.00%</span></li>
                                                            </ul>
                                                        <div class="nk-ivp-action">
                                <a class="btn btn-primary" href="{% url 'login' %}"><span>Invest Now</span></a>
                            </div>
                                                    </div>
                    </div>
                </div>
            </div>
        </div>
                <div class="col-md-6 col-lg-4">
            <div class="nk-ivp-card card card-bordered card-full">
                <div class="card-inner-group">
                    <div class="card-inner">
                        <div class="nk-ivp-title card-title">
                            <h4 class="title">Premium Plan (Most Popular)</h4>
                                                    </div>
                        <div class="nk-ivp-summary card-text">
                            <div class="row">
                                <div class="col-6">
                                    <span class="lead-text"><span class="small text-dark">50.00%</span></span>
                                    <span class="sub-text">Daily Interest</span>
                                </div>
                                <div class="col-6">
                                    <span class="lead-text"><span class="small text-dark">28</span></span>
                                    <span class="sub-text">Term Days</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-inner">
                        <div class="card-text">
                            <ul class="nk-ivp-data">
                                                                <li><span class="label">Min Deposit</span> - <span class="data fw-medium text-dark">5,000.00 USD</span></li>
                                <li><span class="label">Max Deposit</span> - <span class="data">20,000.00 USD</span></li>
                                
                                <li><span class="label">Capital Return <em class="icon ni ni-info text-soft nk-tooltip small" title="The invested amount will be return at the end of term."></em></span> - <span class="data"> Each Term </span></li>
                                                                <li><span class="label">Total Return</span> - <span class="data">1400.00%</span></li>
                                                            </ul>
                                                        <div class="nk-ivp-action">
                                <a class="btn btn-primary" href="{% url 'login' %}"><span>Invest Now</span></a>
                            </div>
                                                    </div>
                    </div>
                </div>
            </div>
        </div>
                <div class="col-md-6 col-lg-4">
            <div class="nk-ivp-card card card-bordered card-full">
                <div class="card-inner-group">
                    <div class="card-inner">
                        <div class="nk-ivp-title card-title">
                            <h4 class="title">Professional Plan(Best)</h4>
                                                    </div>
                        <div class="nk-ivp-summary card-text">
                            <div class="row">
                                <div class="col-6">
                                    <span class="lead-text"><span class="small text-dark">100.00%</span></span>
                                    <span class="sub-text">Daily Interest</span>
                                </div>
                                <div class="col-6">
                                    <span class="lead-text"><span class="small text-dark">7</span></span>
                                    <span class="sub-text">Term Days</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-inner">
                        <div class="card-text">
                            <ul class="nk-ivp-data">
                                                                <li><span class="label">Min Deposit</span> - <span class="data fw-medium text-dark">20,000.00 USD</span></li>
                                <li><span class="label">Max Deposit</span> - <span class="data">100,000.00 USD</span></li>
                                
                                <li><span class="label">Capital Return <em class="icon ni ni-info text-soft nk-tooltip small" title="The invested amount will be return at the end of term."></em></span> - <span class="data"> Each Term </span></li>
                                                                <li><span class="label">Total Return</span> - <span class="data">700.00%</span></li>
                                                            </ul>
                                                        <div class="nk-ivp-action">
                                <a class="btn btn-primary" href="{% url 'login' %}"><span>Invest Now</span></a>
                            </div>
                                                    </div>
                    </div>
                </div>
            </div>
        </div>
                <div class="col-md-6 col-lg-4">
            <div class="nk-ivp-card card card-bordered card-full">
                <div class="card-inner-group">
                    <div class="card-inner">
                        <div class="nk-ivp-title card-title">
                            <h4 class="title">Platinum Plan</h4>
                                                    </div>
                        <div class="nk-ivp-summary card-text">
                            <div class="row">
                                <div class="col-6">
                                    <span class="lead-text"><span class="small text-dark">50.00%</span></span>
                                    <span class="sub-text">Hourly Interest</span>
                                </div>
                                <div class="col-6">
                                    <span class="lead-text"><span class="small text-dark">24</span></span>
                                    <span class="sub-text">Term Hours</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-inner">
                        <div class="card-text">
                            <ul class="nk-ivp-data">
                                                                <li><span class="label">Deposit Amount</span> - <span class="data fw-medium text-dark">100,000.00 USD</span></li>
                                <li><span class="label">Deposit Type</span> - <span class="data">Fixed</span></li>
                                
                                <li><span class="label">Capital Return <em class="icon ni ni-info text-soft nk-tooltip small" title="The invested amount will be return at the end of term."></em></span> - <span class="data"> Each Term </span></li>
                                                                <li><span class="label">Total Return</span> - <span class="data">1200.00%</span></li>
                                                            </ul>
                                                        <div class="nk-ivp-action">
                                <a class="btn btn-primary" href="{% url 'login' %}"><span>Invest Now</span></a>
                            </div>
                                                    </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
</div>

                </div>
            </section>
                    </div>

        <footer class="section footer bg-white border-top" id="footer">
    <div class="container wide-lg">
        <div class="row">
            <div class="col-12">
                <div class="footer-content text-center">
                    

                    <div class="text-base">United Forex Trading &copy; 2025. All Rights Reserved.</div>

                    <ul class="nav nav-sm justify-content-center py-3">
	
						<li class="nav-item">
			<a class="nav-link" href="{% url 'index' %}" target="_blank">Return to Homepage</a>
		</li>
								<li class="nav-item">
			<a class="nav-link" href="{% url 'privacy-policy' %}">Privacy Policy</a>
		</li>
				
		

		</ul>
		
	


                                    </div>
            </div>
        </div>
    </div>
</footer>    </div>
</div>


<script src="{% static 'js/bundle.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
{%  endblock content %}
</html>
