<!DOCTYPE html>
{% load static %}
{%  block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello , welcome to United Forex Trading</title>
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-select7.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-select7.js' %}"></script>
    <script src="{% static 'js/alert.js' %}"></script>
<style>
    .select7__current {
        background: var(--dark-blue);
        color: var(--text);
        width: 240px;
        border: 1px solid transparent;
    }
    @media screen and (max-width: 789px) {
        .select7__current {
            width: 280px;
        }
    }
</style>
</head>

<body>
    
    <nav>
        <article>
            <ul>
                <li style="display: flex; align-items: center;">
                    <i class="material-icons" id='bars' style="color: #6494AE;">menu</i>
                    <img src="{% static 'images/maillertag1678691629.png' %}" width="110px">
                </li>

                <li style='transform: translateY(-15px)'>
                                <a href ="{% url 'dashboard' %}"><button id='nav-trade-btn'>Trade</button></a>
                                <button class='dropdown-btn' style='overflow:hidden; width: 60px; height: 60px; border: 1px solid transparent; transform: translateY(10px)'><img src='{{request.user.profile.profile_pic.url}}' width='100%' height='100%' style='border-radius: 50%'></button>
                             </li>            </ul>
        </article>

        <article>
            <ul>
                <!-- <li
                    style="display: flex; align-items: center; justify-content: center; font-size: 14px; font-weight: bold;">
                    <span style="color: var(--text);">CXC</span>
                    <span style="color: #0fec73; margin: 0 20px; transform: translateY(-5px);"><i
                            class="material-icons">keyboard_arrow_up</i> +29.6%</span>
                </li> -->
                <li><img src="{% static 'images/maillertag1678691629.png' %}" width="130px"></li>
                <li style="display: flex; justify-content: space-between; align-items: center;">
                    <article style="display: flex; padding: 5px;">
                        <img src="{% static 'images/dollar-sign.svg' %}" width="40px" style="margin-right: 5px;">
                        <div style="font-size: 15px;">
                            <b style='color: var(--text-color)'>Real Account</b><br>
                            <span style="font-size: 12px; color: #0BC2D2;">{{request.user.deposit.usd}} USD</span><br>
                            <span style="font-size: 12px; color: #7CBBE3;"><span class="btc"></span> BTC <br>
                            <span style="font-size: 12px; color: #7CBBE3; display: none"><span></span> ETH 
                            
                            </span>
                        </div>
                    </article>

                    <article style="margin: 0 10px;" id='dropdown-btn'>
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <button style='overflow:hidden; width: 50px; height: 50px; border: 1px solid transparent'><img src="{{request.user.profile.profile_pic.url}}" width="100%" height='100%' style='border-radius: 50%'></button>
                            <span style="font-size: 12px; margin: 0 10px;">
                                <span style="color: #0fec73;">{{request.user.deposit.verify}}</span><br>
                                <span style="color: var(--text-color);">{{user.username}}</span>
                            </span>
                        </div>
                    </article>
                </li>
            </ul>

        </article>

    </nav>

    <br><br>
    <br><br>
    <div class="side-panel-left" style="padding: 10px;">
        <ul>
            <!-- <li id="side-bal-m"
                style=" padding: 5px; border-top: 1px solid #bbd8ff70; border-bottom: 1px solid #bbd8ff70; padding: 10px;">
                <img src="../images/dollar-sign.svg" width="40px" style="margin-right: 5px;">
                <div style="font-size: 15px;">
                    <b>Real Account</b><br>
                    <span style="font-size: 12px; color: #0BC2D2;">0.00USD</span><br>
                    <span style="font-size: 12px; color: #7CBBE3;"><span class="btc"></span> BTC<br>
                    <span style="font-size: 12px; color: #7CBBE3;"><span></span> ETH
                    </span>
                </div>
            </li> -->

            <!-- <li id='side-bal-d'
                style=" padding: 5px; border-top: 1px solid #bbd8ff70; border-bottom: 1px solid #bbd8ff70; padding: 10px;"><br>
                <p style="font-size: 13px;">AVAILABLE BALANCE</p><br>
                <p style="font-size: 15px; color: #0971fe;"><span class="btc"></span> <sub style="font-size: 10px;">BTC</sub></p><br>
                <p style="font-size: 15px;">0.00 <sub style="font-size: 10px;">USD</sub></p>
                <p style="font-size: 15px;"> <sub style="font-size: 10px;">ETH</sub></p>
            </li> -->

<br>
<a href="{% url 'dashboard' %}"><li class=""><i class="material-icons">dashboard</i> Dashboard</li></a>
<span style="font-size: 10px; font-weight: bold; padding: 0 10px; color: #6494AE;">APPS</span>
<a href="{% url 'market' %}"><li class=""><i class="material-icons">insert_chart</i> Market</li></a>
<a href="{% url 'deposit' %}"><li class=""><i class="material-icons"> credit_card</i> Deposit</li></a>
<a href="{% url 'fund-transfer' %}"><li class=""><i class="material-icons"> credit_card</i> Fund Transfer</li></a>
<a href="{% url 'withdrawal' %}"><li class=""><i class="material-icons">account_balance_wallet</i> Withdrawal </li></a>
<!-- <a href="nfts"><li class=""><i class="material-icons">image</i> NFTs </li></a> -->
<a href="{% url 'trade-history' %}"><li class=""><i class="material-icons">repeat</i> History </li></a>
<a href="{% url 'crypto' %}"><li class=""><i class="material-icons">verified_user</i> Packages</li></a>
<a href="{% url 'signal' %}"><li class=""><i class="material-icons">online_prediction</i> Signal</li></a>
<a href="{% url 'kyc' %}"><li class=""><i class="material-icons">content_copy</i> AML / KYC</li></a>
<a href="{% url 'settings' %}"><li class="active"><i class="material-icons">settings</i> Settings</li></a>
 <a href="{% url 'dashboard' %}"><li class=""><i class="material-icons">dashboard</i> Back Home</li></a>
<a href="{% url 'logout' %}"><li><i class="material-icons">power_settings_new</i> Logout</li></a>
    </ul>
        <br><br><br><br><br><br>
    </div>

    <div class="side-panel-right"><br>
        <h3 style="text-align: center; color: var(--text-color)">New Trade</h3><br><br>
        <label for="" style='color: var(--text-color)'>Select Account Type</label><br><br>
        <select name="" id="account_type">
            <option value="">---</option>
            <option value="demo">Demo Account ({{request.user.deposit.currency}}100,000.00)</option>
            <option value="real">Real Account ({{request.user.deposit.usd}})</option>
        </select><br><br>

        <style>
            #ac_item {
                display: none;
            }
            .select7  {
                color: red;
                font-size: 14px;
                text-overflow: ellipsis;
                width: 100%;
                white-space: nowrap;
            }
        </style>

        <div id="ac_item">
        <label for="" style='color: var(--text-color)'><span id='ac_name'></span> <sup><i class="fa fa-question-circle"></i></sup></label>
        <p id='balance'>
            <img src="{% static 'images/dollar-sign.svg' %}" width="40px">
            <span style="margin: 10px;"><span id="ac_price"></span> USD</span>
            <!-- <span style="margin: 10px;">0.00 USD</span> -->
        </p><br><br>
        </div>

        <label for="" style='color: var(--text-color);'>Markets</label><br><br>
        <select name="trade_pair" id="trade_pair" style='text-align: left'>
            <option value="cryptocurrency">Cryptocurrency</option>
            <option value="stock">Stock</option>
            <option value="indices">Indices</option>
        </select>
        <br><br><br>

        <label for="" style='color: var(--text-color);'>Pair</label><br><br>
        <div id="trade_pair_one" style='text-align: left;'>
            <select name="pair" class="select7" style='text-align: left;'>
                <option value="USDT/BTC" data-icon="{% static 'images/icons/bitcoin.png' %}">USDT/BTC</option>
                <option value="USDT/ETH" data-icon="{% static 'images/icons/eth.png' %}">USDT/ETH</option>
                <option value="USDT/TRX" data-icon="{% static 'images/icons/tron.png' %}">USDT/TRX</option>
                <option value="USDT/SOL" data-icon="{% static 'images/icons/Solana_logo.png' %}">USDT/SOL</option>
                <option value="USDT/LTC" data-icon="{% static 'images/icons/lite.png' %}">USDT/LTC</option>
                <option value="USDT/BNB" data-icon="{% static 'images/icons/bnb.png' %}">USDT/BNB</option>
                <option value="USDT/LINK" data-icon="{% static 'images/icons/link.png' %}">USDT/LINK</option>
                <option value="USDT/FTT" data-icon="{% static 'images/icons/ftt.png' %}">USDT/FTT</option>
                <option value="USDT/SHIB" data-icon="{% static 'images/icons/shib.png' %}">USDT/SHIB</option>
                <option value="USDT/ETC" data-icon="{% static 'images/icons/etc.png' %}">USDT/ETC</option>
                <option value="USDT/TFUEL" data-icon="{% static 'images/icons/tfuel.png' %}">USDT/TFUEL</option>
                <option value="USDT/ADA" data-icon="{% static 'images/icons/ada.png' %}">USDT/ADA</option>
                <option value="USDT/VET" data-icon="{% static 'images/icons/vet.png' %}">USDT/VET</option>
            </select>
            </div>
    
    
            <div id="trade_pair_two" style='text-align: left; display: none'>
            <select name="pair2" id="trade_pair_two" class="select7">
                <option value="FACEBOOK INC" data-icon="{% static 'images/icons/facebook.png' %}" >FACEBOOK INC</option>
                <option value="BOEING CO" data-icon="{% static 'images/icons/boeing.png' %}" >BOEING CO</option>
                <option value="APPLE INC" data-icon="{% static 'images/icons/apple.png' %}" >APPLE INC</option>
                <option value="AMAZON COM INC" data-icon="{% static 'images/icons/amazon.png' %}" >AMAZON COM INC</option>
                <option value="MICROSOFT CORP" data-icon="{% static 'images/icons/microsoft.png' %}" >MICROSOFT CORP</option>
                <option value="NETFLIX INC" data-icon="{% static 'images/icons/netflix.png' %}" >NETFLIX INC</option>
                <option value="MICRON TECHNOLOGY INC" data-icon="{% static 'images/icons/mircon.png' %}" >MICRON TECHNO...</option>
                <option value="NVIDIA CORP" data-icon="{% static 'images/icons/nvidia.png' %}" >NVIDIA CORP</option>
                <option value="CANOPY GROWTH INCORPORATION" data-icon="{% static 'images/icons/canopy.png' %}" >CANOPY GROW...</option>
                <option value="TESLA INC" data-icon="{% static 'images/icons/tesla.png' %}" >TESLA INC</option>
                <option value="TWITTER INC" data-icon="{% static 'images/icons/twitter.png' %}" >TWITTER INC</option>
                <option value="SBERBANK RUSSIA" data-icon="{% static 'images/icons/sberbank.png' %}" >SBERBANK RUS...</option>
                <option value="CRONOS GROUP INC" data-icon="{% static 'images/icons/cronos.png' %}" >CRONOS GROUP INC</option>
                <option value="PENNYMAC FINCANCIAL SERVICES INC" data-icon="{% static 'images/icons/pennymac.png' %}" >PENNYMAC FINCA...</option>
                <option value="PAN AMERICAN SILVER CORP" data-icon="{% static 'images/icons/pan.png' %}" >PAN AME...</option>
                <option value="BANK OF AMERICAN CORPORATION" data-icon="{% static 'images/icons/bank.png' %}" >BANK OF AMERI...</option>
                <option value="INTEL CORP" data-icon="{% static 'images/icons/intel.png' %}" >INTEL CORP</option>
                <option value="RELIANCE INDS" data-icon="{% static 'images/icons/reliance.png' %}" >RELIANCE INDS</option>
                <option value="ELECTRONIC ARTS INC" data-icon="{% static 'images/icons/electronic.png' %}" >ELECTRONIC AR...</option>
                <option value="SAMSUNG LIFE" data-icon="{% static 'images/icons/samsung.png' %}" >SAMSUNG LIFE</option>
                <option value="SHOPIFY INC" data-icon="{% static 'images/icons/shopify.png' %}" >SHOPIFY INC</option>
                <option value="PAYPAL HONDINGS INC" data-icon="{% static 'images/icons/paypal.png' %}" >PAYPAL HONDINGS INC</option>
            </select>
            </div>
    
            <div id="trade_pair_three" style='text-align: left;  display: none '>
            <select name="pair3" id="trade_pair_three" class="select7" >
                <option value="GBPUSD" data-icon="{% static 'images/icons/gbpusd.png' %}">GBPUSD, Pound vs US Dollar</option>
                <option value="EURAUD" data-icon="{% static 'images/icons/euraud.png' %}">EURAUD, Euro vs Australian Dollar</option>
                <option value="EURCHF" data-icon="{% static 'images/icons/eurchf.png' %}">EURCHF, Euro vs Swiss Franc</option>
                <option value="EURGBP" data-icon="{% static 'images/icons/eurgbp.png' %}">EURGBP, Euro vs Great Britain</option>
                <option value="GBPCAD" data-icon="{% static 'images/icons/gbpcad.png' %}">GBPCAD, Great Britain Pound vs Canadian Dollar</option>
                <option value="NZDUSD" data-icon="{% static 'images/icons/nzdusd.png' %}">NZDUSD, New Zealand vs US Dollar</option>
                <option value="EURNZD" data-icon="{% static 'images/icons/eurusd.png' %}">EURNZD, Euro vs New Zealand</option>
                <option value="CADJPYm" data-icon="{% static 'images/icons/cadjpym.png' %}">CADJPYm, Canadian Dollar vs Japanise Yen AUDJPYm, Australian Dollar vs Japanise Yen</option>
                <option value="USDCHF" data-icon="{% static 'images/icons/eurchf.png' %}">USDCHF, US Dollar vs Swiss Franc</option>
                <option value="GBPAUD" data-icon="{% static 'images/icons/gbpaud.png' %}">GBPAUD, Great Britain Pound vs Australian Dollar</option>
                <option value="USDTRY" data-icon="{% static 'images/icons/usdtry.png' %}">USDTRY, US Dollar vs Turkish New Lira</option>
                <option value="USD vs THB" data-icon="{% static 'images/icons/usdthb.png' %}">USD vs THB</option>
                <option value="AUD vS USD" data-icon="{% static 'images/icons/gbpaud.png' %}">AUD vS USD</option>
                <option value="CAD vs JPY" data-icon="{% static 'images/icons/cadjpym.png' %}">CAD vs JPY</option>
                <option value="EURUSD" data-icon="{% static 'images/icons/eurusd.png' %}">EURUSD, Euro vs US Dollar</option>
                <option value="USDRUB" data-icon="{% static 'images/icons/usdrub.png' %}">USDRUB, US Dollar vs Russian Ruble</option>
                <option value="XAUUSD" data-icon="{% static 'images/icons/xauusd.png' %}">XAUUSD, Gold vs US Dollar</option>
                <option value="NZDJPY" data-icon="{% static 'images/icons/cadjpym.png' %}"> NZDJPY, New Zealand Dollar vs Japanise Yen</option>
            </select>
            </div>
        <br><br>

        <label for="" style='color: var(--text-color);'>Time <i class="fa fa-clock-o"></i></label><br><br>
        <select name="" id='time_select' onchange='time_value(this)'>
                            <option value="0">1min</option>
                            <option value="1">2min</option>
                            <option value="2">3min</option>
                            <option value="3">4min</option>
                            <option value="4">5min</option>
                            <option value="5">6min</option>
                            <option value="6">7min</option>
                            <option value="7">8min</option>
                            <option value="8">9min</option>
                            <option value="9">10min</option>
                            <option value="10">11min</option>
                            <option value="11">12min</option>
                            <option value="12">13min</option>
                            <option value="13">14min</option>
                            <option value="14">15min</option>
                            <option value="15">16min</option>
                            <option value="16">17min</option>
                            <option value="17">18min</option>
                            <option value="18">19min</option>
                            <option value="19">20min</option>
                            <option value="20">21min</option>
                            <option value="21">22min</option>
                            <option value="22">23min</option>
                            <option value="23">24min</option>
                            <option value="24">25min</option>
                            <option value="25">26min</option>
                            <option value="26">27min</option>
                            <option value="27">28min</option>
                            <option value="28">29min</option>
                            <option value="29">30min</option>
                        </select>

        <br><br><br>
        <label for="" style='color: var(--text-color)'>Trade Amount</label><br>
        <span style="color: #6494AE; font-size: 13px; position: relative; top:18px; left: 5px; z-index: 2;">USDT</span>
        <input type="text" name='trade_amount' id='trade_amount' value="">
        <center><img src="{% static 'images/loader.svg' %}" width="50px" id='loader_img' style='display: none'></center>
        <div class="side-panel-right-btn">
            <button name='submit' class='trade_button'>Sell<br></button>
            <button name='submit' class='trade_button'>Buy<br></button>
        </div>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>

    </div>

    <div class="side-dropdown">
        <article style="display: flex;">
        <button style='overflow:hidden; width: 50px; height: 50px; border: 1px solid transparent; border-radius: 100%'><img src="{{request.user.profile.profile_pic.url}}" width="100%" style='border-radius: 50%'></button>
            <p style="margin: 0 10px;">
                <b style="color: var(--text);"></b><br>
                <b style="color: var(--text);">{{user.username}}</b><br>
                <span style="font-size: 13px; color: #6494AE;">{{user.email}}</span>            </p>
        </article>

        <article style="color: #6494AE; line-height: 20px;"><br>
            <span style="font-size: 10px; font-weight: bold; color: var(--text-color)">REAL ACCOUNT</span><br>
            <span style="font-size: 17px; color: dodgerblue; font-weight: bold;"><span class="btc"></span>{{request.user.deposit.btc}} <sub>BTC</sub></span><br>
            <span style="font-size: 13px;">{{request.user.deposit.usd}} <sub>USD</sub></span><br>
            <div style="display: flex; align-items: center; font-size: 13px; color: dodgerblue;">
                <a href="{% url 'deposit' %}" style='color: dodgerblue'><i class="material-icons" style="font-size: 13px;">account_balance_wallet</i> Deposit </a>
                <a href="{% url 'withdrawal' %}" style='color: dodgerblue'><i style="margin: 0 0px 0 20px; font-size: 13px;"  class="material-icons">account_balance_wallet</i> Withdraw </a> 
            </div>
        </article>

        <article>
            <ul style="font-size: 14px;">
                <a href="{% url 'dashboard' %}"><li><i class="material-icons" style="font-size: 20px;">account_balance_wallet</i> Wallet</li></a>
                <a href="{% url 'settings' %}"><li><i class="material-icons" style="font-size: 20px;">person</i> View Profile</li></a>
                <a href="{% url 'settings' %}"><li><i class="material-icons" style="font-size: 20px;">settings</i> settings</li></a>
                <a href="{% url 'logout' %}"><li><i class="material-icons" style="font-size: 20px;">power_settings_new</i> Sign Out</li></a>

                
            </ul>
        </article>
    </div>
    <div class="fixed-width"><br><br><br>
    <div style='padding: 5px; background: orange; font-size: 12px; border-radius: 3px;'><i class='fa fa-info-circle'></i> Complete your account info. <a href="{% url 'withdrawal-info' %}" style='color: white'><b>Click Here</b></a></div><br>    
    <script>
                $(".select7").select7();
        </script>




    

<style>

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 1200px) {}
</style>

<style>
        @media screen and (min-width: 768px) {
            .fixed-width {
                width: 100%;
                margin: 0 0%;
            }
            
            .side-panel-right {
                display: none;
                width: 30%;
            }
        }

        @media screen and (min-width: 1200px) {
            .fixed-width {
                width: 80%;
                transform: translateX(5%);
                margin: 0 15%;
            }

            .side-panel-left {
                width: 20%;
                display: block;
            }
        }
    </style>


    <div class="market-graph">
    <h3 style='color: var(--text-color)'>Market Overview</h3><br>
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container" style="width: 100%; height: 600px;">
        <iframe allowtransparency="true" frameborder="0" src="https://www.tradingview-widget.com/embed-widget/crypto-mkt-screener/?locale=en#%7B%22width%22%3A%22100%25%22%2C%22height%22%3A600%2C%22defaultColumn%22%3A%22overview%22%2C%22screener_type%22%3A%22crypto_mkt%22%2C%22displayCurrency%22%3A%22USD%22%2C%22colorTheme%22%3A%22dark%22%2C%22market%22%3A%22crypto%22%2C%22enableScrolling%22%3Atrue%2C%22utm_source%22%3A%22www.digitalfinancefx.com%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22cryptomktscreener%22%7D" title="crypto mkt-screener TradingView widget" lang="en" style="user-select: none; box-sizing: border-box; display: block; height: calc(568px); width: 100%;"></iframe>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/cryptocurrencies/prices-all/?utm_source=www.digitalfinancefx.com&amp;utm_medium=widget_new&amp;utm_campaign=cryptomktscreener" rel="noopener" target="_blank"><span class="blue-text"></span></a></div>
        
      <style>
          .tradingview-widget-copyright {
              font-size: 13px !important;
              line-height: 32px !important;
              text-align: center !important;
              vertical-align: middle !important;
              /* @mixin sf-pro-display-font; */
              font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
              color: #9db2bd !important;
          }
      
          .tradingview-widget-copyright .blue-text {
              color: #2962FF !important;
          }
      
          .tradingview-widget-copyright a {
              text-decoration: none !important;
              color: #9db2bd !important;
          }
      
          .tradingview-widget-copyright a:visited {
              color: #9db2bd !important;
          }
      
          .tradingview-widget-copyright a:hover .blue-text {
              color: #1E53E5 !important;
          }
      
          .tradingview-widget-copyright a:active .blue-text {
              color: #1848CC !important;
          }
      
          .tradingview-widget-copyright a:visited .blue-text {
              color: #2962FF !important;
          }
          </style></div>
<!-- TradingView Widget END -->
    </div>

    <center> <div class="market-graph">

   <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/currencies/forex-cross-rates/" rel="noopener" target="_blank"><span class="blue-text"></span></a> </div>
  <script type="text/javascript" src="../../../s3.tradingview.com/external-embedding/embed-widget-forex-cross-rates.js" async>
  {
  "width": "100%",
  "height": "100%",
  "currencies": [
    "EUR",
    "USD",
    "JPY",
    "GBP",
    "CHF",
    "AUD",
    "CAD",
    "NZD",
    "CNY",
    "TRY",
    "SEK",
    "NOK"
  ],
  "isTransparent": false,
  "colorTheme": "dark",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->
</div> </center>



<div id="mode" style='display: none'></div>
</div>

<div id="random_count" style='display: none'></div>

<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/sweetalert.min.js' %}"></script>
<script>

    // get current btc rate
    var btc = document.querySelectorAll('.btc')
    for (let i = 0; i < btc.length; i++) {
        var url = 'https://blockchain.info/tobtc?currency=USD&amp;value=0'
        fetch(url)
            .then(response => response.json())
            .then(data => console.log(btc[i].textContent = data));
    }
    // get current btc rate end

    // dark/light mode toggle
    var mode = document.getElementById('mode');
    if (mode.textContent == "light") {
        root.classList.add('dark-mode')
    } else if (mode.textContent == "dark") {
        root.classList.remove('dark-mode')
    }
    // dark/light mode toggle end

    var trade_button = document.querySelectorAll('.trade_button');
    var trade_amount = document.getElementById('trade_amount');
    var trade_pair = document.getElementById('trade_pair');
    var trade_pair1 = document.getElementById('trade_pair_one');
    var trade_pair2 = document.getElementById('trade_pair_two');
    var trade_pair3 = document.getElementById('trade_pair_three');
    var account_type = document.getElementById('account_type');
    var loader_img = document.getElementById('loader_img');
    var random_count = document.getElementById('random_count');
    var ac_item = document.getElementById('ac_item');
    var ac_name = document.getElementById('ac_name');
    var ac_price = document.getElementById('ac_price');
    
    
    var x = Math.random()*2;
    var y = Math.floor(x);
    random_count.textContent = y

    account_type.addEventListener('change', function () {
        if (account_type.value == 'demo') {
            ac_item.style.display = 'block'
            ac_name.textContent = 'Demo Account'
            ac_price.textContent = '100,000.00'
            if (trade_pair1.value == "" && trade_pair2.value == "" && trade_pair3.value == "" && trade_amount.value == "") {
                swal("ERROR!", "Input's cannot be empty", "warning");
            }else {
                for (let i = 0; i < trade_button.length; i++) {
                    trade_button[i].addEventListener('click', function () {
                        if (trade_amount.value == "") {
                            alert("Input's cannot be empty")
                        }else {
                            loader_img.style.display = 'block'
                        setTimeout(() => {
                            loader_img.style.display = 'none'
                            if (random_count.textContent == 0) {
                                swal("Trade Status!", "Trade Won", "success");  
                                setTimeout(() => {
                                    window.location.href = "{% url 'dashboard' %}"
                                }, 3000);                              
                            }else {
                                swal("Trade Status!", "Trade Loss", "error");
                                setTimeout(() => {
                                    window.location.href = "{% url 'dashboard' %}"
                                }, 3000);                              
                            }
                        }, 3000);

                        }
                    })
                }
            }
        }else {
    for (let i = 0; i < trade_button.length; i++) {
            ac_item.style.display = 'block'
            ac_name.textContent = 'Real Account'
            ac_price.textContent = '{{request.user.deposit.usd}}'

        trade_button[i].addEventListener('click', function () {
            if (trade_pair1.value == "" && trade_pair2.value == "" && trade_pair3.value == "" && trade_amount.value == "") {
                swal("ERROR!", "Input's cannot be empty", "warning");
            } else {
                var xhr = new XMLHttpRequest();
                var data = new FormData();
                data.append('trade_pair', trade_pair.value)
                data.append('pair', trade_pair_one.value)
                data.append('pair2', trade_pair_two.value)
                data.append('pair3', trade_pair_three.value)
                data.append('trade_amount', trade_amount.value)
                data.append('trade_pair', trade_pair.value)
                xhr.onreadystatechange = function () {
                    if (xhr.responseText == 'minimum') {
                        swal("INFO!", "Minimum Trade is 100 USD", "info");                        
                    }else if (xhr.responseText == 'insufficient') {
                        swal("ERROR!", "Insufficient Balance", "warning");
                    }else if (xhr.responseText == 'success') {
                        trade_button[i].disabled = true
                     swal("SUCCESS!", "Your Trade Request was successful", "success");
                     setTimeout(() => {
                         window.location.href = "{% url 'dashboard' %}"
                     }, 3000);
                    }
                }
                xhr.open('POST.html', '../database/trade_script.html', true);
                xhr.send(data);
                // swal("INFO!", "Unable to complete trade at this time", "info");
            }
        })
        
        trade_pair.addEventListener('change', function () {
            if (trade_pair.value == 'cryptocurrency') {
                trade_pair1.style.display = 'block'
                trade_pair2.style.display = 'none'
                trade_pair3.style.display = 'none'
                for (let i = 0; i < trade_button.length; i++) {
                    trade_button[i].addEventListener('click', function () {
                        if (trade_pair1.value == "" && trade_amount.value == "") {
                            swal("ERROR!", "Input's cannot be empty", "warning");
                        } 
                        else {
                            // swal("INFO!", "Unable to complete trade at this time", "info");
                        }
                    })
                }
            } else if (trade_pair.value == 'stock') {
                trade_pair1.style.display = 'none'
                trade_pair2.style.display = 'block'
                trade_pair3.style.display = 'none'
            } else if (trade_pair.value == 'indices') {
                trade_pair1.style.display = 'none'
                trade_pair2.style.display = 'none'
                trade_pair3.style.display = 'block'
                }
            })
        }
    }
})

</script>
</script>

<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="d16694cb-9746-421f-bd87-b0b8157a788f";(function(){d=document;s=d.createElement("script");s.src="../../../client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>

          

           <div class="col-sm-3">
          <div id="google_translate_element" align="center"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="../../../translate.google.com/translate_a/elementa0d8.js?cb=googleTranslateElementInit"></script>
          




</body>
{%  endblock content %}
</html>