<!DOCTYPE html>
{% load static %}
{%  block content %}
<html lang="en" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Privacy Policy | United Forex Trading</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/apps8a548a54.css' %}">
	<!-- System Build v20210628110 @iO -->
</head>
<body class="nk-body npc-cryptlite bg-white">
<div class="nk-app-root">
    <div class="nk-main">
        <header class="header bg-gray-900">
            <div class="header-main header-dark bg-gray-900 on-dark is-sticky is-transparent">
                <div class="container header-container wide-lg">
                    <div class="header-wrap">
                    <img src="{% static 'images/maillertag1678691629.png' %}" width="150px">
                        <div class="header-toggle">
                            <button class="menu-toggler" data-target="main-hmenu">
                                <em class="menu-on icon ni ni-menu"></em>
                                <em class="menu-off icon ni ni-cross"></em>
                            </button>
                        </div>

                        <nav class="header-menu"  data-content="main-hmenu">
                            <ul class="menu-list ml-lg-auto">
                                                                <li class="menu-item"><a href="{% url 'index' %}" class="menu-link nav-link">Home</a></li>
                                                                                                <li class="menu-item"><a href="{% url 'investments' %}" class="menu-link nav-link">Investment</a></li>
                                                                <li class="menu-item">
		    <a href="{% url 'login' %}" class="menu-link nav-link" target="_blank">
		        <span class="menu-text">Return to Homepage</span>
		    </a>
		</li>
								<li class="menu-item">
		    <a href="{% url 'contact' %}" class="menu-link nav-link">
		        <span class="menu-text">Contact</span>
		    </a>
		</li>
					
		
	


                                                                <li class="menu-item"><a href="{% url 'register' %}" class="menu-link nav-link">Register</a></li>
                                                            </ul>

                                                        <ul class="menu-btns">
                                <li>
                                    <a href="{% url 'login' %}" class="btn btn-round btn-primary"><em class="icon ni ni-user-alt"></em> <span>Login</span></a>
                                </li>
                            </ul>
                                                    </nav>
                    </div>
                </div>
            </div>
        </header>

        <div class="nk-page-content bg-lighter">
                        <section class="section section-lg section-page">
                <div class="container wide-lg">
                    <div class="content-page">
    <div class="nk-block-head nk-block-head-lg text-center wide-xs mx-auto">
        <div class="nk-block-head-content">
            <h2 class="nk-block-title">Privacy Policy</h2>
                    </div>
    </div>

    <div class="nk-block card card-bordered card-stretch">
        <div class="card-inner card-inner-lg">
            <article class="entry">
                <h4>Privacy Policy for United Forex Trading</h4>
<p>At <strong>United Forex Trading</strong>, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by <strong>United Forex Trading</strong> and how we use it.</p>
<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us through email at support@digitalfinancefx.com</p>
            </article>
                    </div>
    </div>
</div>
                </div>
            </section>
                    </div>

        <footer class="section footer bg-white border-top" id="footer">
    <div class="container wide-lg">
        <div class="row">
            <div class="col-12">
                <div class="footer-content text-center">
                    

                    <div class="text-base">United Forex Trading &copy; 2022. All Rights Reserved.</div>

                    <ul class="nav nav-sm justify-content-center py-3">
	
						<li class="nav-item">
			<a class="nav-link" href="{% url 'index' %}" target="_blank">Return to Homepage</a>
		</li>
								<li class="nav-item active">
			<a class="nav-link" href="{% url 'privacy-policy' %}">Privacy Policy</a>
		</li>
				
		

		</ul>
		
	


                                    </div>
            </div>
        </div>
    </div>
</footer>    </div>
</div>


<script src="{% static 'js/bundle.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
{%  endblock content %}

</html>
