<!DOCTYPE html>
{% load static %}
{%  block content %}
<html lang="en">


<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />
  <link rel="manifest" href="{% static 'manifest.json' %}" />
  <link rel="icon" href="{% static 'images/logo/favicon.png' %}" type="image/x-icon" />
  <title>HSBCredex Bank</title>
  <link rel="apple-touch-icon" href="{% static 'images/logo/favicon.png' %}" />
  <meta name="theme-color" content="#122636" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-title" content="" />
  <meta name="msapplication-TileImage" content="{% static 'images/logo/favicon.png' %}" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  
  <!--Google font-->
  <link rel="preconnect" href="https://fonts.googleapis.com/" />
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&amp;display=swap" rel="stylesheet" />
  
  <!-- bootstrap css -->
  <link rel="stylesheet"  type="text/css" href="{% static 'css/processing/bootstrap.min.css' %}" />
  
  <!-- swiper css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/processing/swiper-bundle.min.css' %}" />
  
  <!-- Theme css -->
  <link rel="stylesheet" id="change-link" type="text/css " href="{% static 'css/processing/style.css' %}" />
  </head>

<body>
  <!-- loader start-->
  <div class="loader-wrapper" id="loader">
    <div class="loader">
      <img class="img-fluid loader-img" src="{% static 'images/pay-loader.gif' %}" alt="loader" />
    </div>
  </div>
  <!-- loader end -->

  <!-- header start -->
  <header class="section-t-space">
    <div class="custom-container">
      <div class="header-panel">
        <a href="#" class="back-btn">
          <i class="icon" data-feather="arrow-left"></i>
        </a>
        <h2>Successfully paid</h2>
      </div>
    </div>
  </header>
  <!-- header end -->

  <!-- pay-successfully section starts -->
  <section class="section-b-space">
    <div class="custom-container">
      <div class="successfully-pay">
        <img class="img-fluid pay-img" src="{% static 'images/successfull-payment.gif' %}" alt="Payment" />
      </div>
      <a href="{% url 'dashboard' %}" class="btn theme-btn successfully w-100">Back to Home</a>
    </div>
  </section>
  <!-- pay-successfully section end -->

  <!-- feather js -->
  <script src="{% static 'js/processing/feather.min.js' %}"></script>
  <script src="{% static 'js/processing/custom-feather.js' %}"></script>

  <!-- loader js -->
  <script src="{% static 'js/processing/loader.js' %}"></script>

  <!-- bootstrap js -->
  <script src="{% static 'js/processing/bootstrap.bundle.min.js' %}"></script>

  <!-- script js -->
  <script src="{% static 'js/processing/script.js' %}"></script>
</body>

{%  endblock content %}
</html>